{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap">
</head>
<body>
    <header>
        <div class="logo">
            <a href="">JAX CYCLES</a>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Bikes</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="image">
            <div class="hero-content">
                <h1>Welcome to <span class="highlight">Jax Cycles</span></h1>
                <p>High quality at affordable prices</p>
            </div>
            <div class="view-more">
                <p>View<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36ZM18.7071 26.8071L25.0711 20.4431C25.4616 20.0526 25.4616 19.4195 25.0711 19.0289C24.6805 18.6384 24.0474 18.6384 23.6569 19.0289L19 23.6858V9.9H17V23.6858L12.3431 19.0289C11.9526 18.6384 11.3195 18.6384 10.9289 19.0289C10.5384 19.4195 10.5384 20.0526 10.9289 20.4431L17.2929 26.8071C17.6834 27.1976 18.3166 27.1976 18.7071 26.8071Z" fill="#88FFC6"/>
                </svg>Bikes</p>
            </div>
        </div>
    </div>
    <div id="features">
        <h2>What We Offer:</h2>
        <div id="trails">
            <div class="feature">
                <div class="features-image">
                    <img src="/static/images/tire.svg">
                </div>
                <div class="content">
                    <h3>Tires for Every Road</h3>
                    <p>We have a wide selection of high quality tires available for all your biking needs. From beaches to mountains, no terrain will limit you. </p>
                    <p><b>Types Available:</b></p>
                    <ul>
                        {% for tire in all_tires %}
                            <li>{{ tire.type }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="feature" id="seats">
                <div class="content">
                    <h3>Seats in Classic Colors</h3>
                    <p>We offer many colors of seats to match your style. They are comfortable and ready for your bottom.</p>
                    <p><b>Colors Available:</b></p>
                    <ul>
                        {% for seat in all_seats %}
                            <li>{{ seat.color }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="features-image">
                    <img src="/static/images/seat.svg">
                </div>
            </div>
            <div class="feature">
                <div class="features-image">
                    <img src="/static/images/frame.svg">
                </div>
                <div class="content">
                    <h3>Frames Fit for You</h3>
                    <p>Our High quality frames come in many colors to fit your needs. From our highly customizable Industry Black to our spazzy Adventurer’s Red, we’ve got them all.</p>
                    <p><b>Colors Available:</b></p>
                    <ul>
                        {% for frame in all_frames %}
                            <li>{{ frame.color }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="view-selection">
        <h2>View Our Selection...</h2>
        <div id="bikes"></div>
    </div>
    <footer>
        <p>&copy; Project website built by Ehsan Ayoubi. First Django Project.</p>
    </footer>
</body>
</html>